<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In page</title>
    <style>
        *{
            margin:0;
        }
        nav ul{
            display: flex;
            height: 4rem;
            color: white;
            background-color: rgb(0,0,0,0.7);
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
        }
        a{
            text-decoration: none;
            color: white;
        }

        form{
            margin-top: 4rem;
            margin-right: auto;
            margin-left: auto;
            width: 60%;
            border: 2.5px solid black;
            padding: 3rem;
        }
        button{
            padding: 15px;
        }
        footer{
            color:white;
            background-color: black;
            margin-top: 15rem;
            height: 7rem;
            
        }
    </style>
</head>
<body>
    <header>
    <nav>
        <ul>
            <%for(let i=0;i<nav.length;i++){%>
    
                <li>
                    <a href="<%=nav[i]['link']%>">
                        <%=nav[i]['name']%>
                    </a>
                </li>
                <%}%>
        </ul>
        </nav>
    </header>
        <form action="/" onsubmit="return validate()">
            <h2>Sign In page</h2>
            <br>
            <label type="">User name</label>
            <input type="text" id="username">
            <br>
            <br>
            <label type="">Password</label>
            <input type="password" id="pwd">
            <br>
            <br>
            <button type="submit">Sign In</button>
        </form>
        <footer>
            <p align="center">Designed by Nujoom A Kadar</p>

        </footer>
    <script>
        function validate(){
            let passwordRegex = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/
            let pwd=document.getElementById("pwd").value
            let username=document.getElementById("username").value.trim()
            if(passwordRegex.test(pwd)&& username.length>3){
                return true
            }
            else{
                alert("Invalid Credentials, try again!")
                return false
            }
        }
    </script>
</body>
</html>